# Ignore build artifacts
/build_artifacts/

# Ignore log files
/logs/*

# Large data
data/scraped/submission/

# Analysis notebooks
*.ipynb
.ipynb_checkpoints

# temp files
data/temp

# Ignoring temporarily
*knn*