# Ignore build artifacts
/build_artifacts/

# Ignore log files
/logs/*

# Large data
data/scraped/submission/
data/scraped/rating/
data/processed/user_problem

# Analysis notebooks
*.ipynb
.ipynb_checkpoints

# temp files
data/temp

# Ignoring temporarily
*knn*

# byte-compiled
__pycache__/