# Required
pandas>=1.5.3
numpy>=1.26.2

# Data Scrapping
aiohttp>=3.8.6

# Data Analysis
matplotlib>=3.8.1

# Modelling
pandarallel>=1.6.5
scikit-learn>=1.3.2
torch>=2.1.2

# Server
flask>=2.3.3
flask-cors>=4.0.0